<%= form_for(@registrar) do |f| %>
  <% if @registrar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registrar.errors.count, "error") %> prohibited this registrar from being saved:</h2>

      <ul>
      <% @registrar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :extra %><br />
    <%= f.text_field :extra %>
  </div>
  <div class="field">
    <%= f.label :url_param %><br />
    <%= f.text_area :url_param %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
