<!DOCTYPE html>
<html>
<head>
  <title>dotshelf - Find awesome domains</title>
  
  <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <meta property="og:title" content="dotshelf - Find awesome domains"/>
  <meta property="og:image" content="/dotshelf_logo.png"/>
  <meta property="og:site_name" content="dotshelf"/>
  <meta property="og:description" content="Find unique and available domains with this open-source project!"/>
  
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript" charset="utf-8">
		var lang = {};
		lang['completed'] = '<%= t(:completed) %>';
		lang['give_in'] = '<%= t(:give_in) %>';
		lang['added'] = '<%= t(:added) %>';
		lang['notify_expire'] = '<%= t(:notify_expire) %>';
		lang['whois'] = '<%= t(:whois) %>';
		lang['really_want_to'] = '<%= t(:really_want_to) %>';
		lang['login'] = '<%= t(:login) %>';
		lang['logout'] = '<%= t(:logout) %>';
		lang['created_and_added'] = '<%= t(:created_and_added) %>';
		lang['logged_in_succesfully'] = '<%= t(:logged_in_succesfully) %>';
		lang["check_out"] = '<%= t(:check_out) %>';
		lang["domains"] = '<%= t(:domains) %>';
		lang["empty"] = '<%= t(:empty) %>';
		lang["buy"] = '<%= t(:buy) %>';
		
	</script>
</head>
<body>
	
<%= yield %>

</body>
</html>
